<div class="container">
	<footer class="footer">
	<small>
		Copyright &copy; <%= link_to "MotorGearDen", root_path %>
		by <%= link_to "Adam Parker", root_path %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", root_path %></li>
		</ul>
	</nav>
</footer>
</div>