<!DOCTYPE html>
<html style="background-color: #99ccff;">
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>

<body style="margin-left: auto; margin-right: auto; background-color: #d55d5d; width: 75%;">
	<div align="center">
		<img src="http://localhost:3000/assets/motobanner-d2fde8a6e30060905a6f72b0c8128d222a7596e690a7a4c648e5e81109bf4600.jpg" style="margin-top: 0% ;width: 75%; height: 240px;" ></img>
	</div>
	<div align="center">
		<h2>Welcome <%= @user.username %>!</h2>
			<p style="font-size: 1.2em;">Thank you for registering to MotorGearDen, I hope you enjoy your stay with us and find everything you need<br>
			If you have any troubles please feel free to contact us!</p>
			Please note: once signed in, please go to your account details and add your address alongside with your first name and last name otherwise,<br> you will not be able to make any payments.
</body>

<footer>
	<small>Thanks,<br>
	The MotorGearDen team</small></div>
</footer>
</html>