div#side-line {
	display: inline-block;
	border-right: 0.2px solid white;
	border-top: 10px solid white;
	padding-left: 2px;
}

table#brand-table {
	border: 3px solid #4da6ff;
}

tr#brand-headers {
	border: 3px solid #4da6ff;
	font-weight: bold;
}

tr#brand-details {
	border: 3px solid #4da6ff;
}

td#brand-detail-item {
	background-color: #80bfff;
	border-left: 3px solid #4da6ff;
	border-right: 3px solid #4da6ff;
	font-size: 1.2em;
	-webkit-box-shadow: 6px 8px 6px 0px rgba(0,0,0, 0.80);
	-moz-box-shadow: 6px 8px 6px 0px rgba(0,0,0, 0.80);
	box-shadow: 6px 8px 6px 0px rgba(0,0,0,0.80);
	z-index: 999999;
	border: 0;
}

h2#brand-header {
	font-weight: bold;
	text-decoration: underline;
}