.form-control {
	width: 250px !important;
}

#form-user-edit {
	border: 2px solid #33ccff;
}

#user-edit-container {
	border: 1px solid #33ccff;
	padding-bottom: 2%;
}

#user-edit-label {
	font-weight: bolder;
	font-size: 1.2em;
	letter-spacing: -0.1em;
}

#user-submit {
	margin-right: 0.4%;
}